.err{
    color: red !important;
    text-transform: capitalize;
}

.left{
    height: 100vh;
    background: #141414;
}

.right{
    height: 100vh;
    background: #141414;
    padding-left: 10px;
}

.right h3{
    color: #fff;
    font-size: 25px;
    text-transform: capitalize;
}